@charset "UTF-8";
/* 폰트 설정 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 초기 설정 */
* {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin-bottom: 0;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin-bottom: 0;
}

body {
    font-size: 16px;
}

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

select:focus {
    outline: none;
}

input:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[id="keyword"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #F9F5F2 inset;
    box-shadow: 0 0 0 1000px #F9F5F2 inset;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

button {
    border: none;
    background-color: transparent;
}

.sub-container {
    display: flex;
    width: 960px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin: 60px auto 120px;
}

.score-img {
    height: 24px;
}

/* 초기 설정 */

/* button 스타일 */

.slide-btn {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.btn-wrap-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.btn-wrap-row {
    display: flex;
    gap: 8px;
    align-self: stretch;
}

.fill-btn, .light-fill-btn, .dark-fill-btn {
    display: flex;
    padding: 20px 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
    flex: 1 0 0;
    transition: all .3s;
    gap: 8px;
}

.fill-btn {
    background-color: #B48D69;
    color: #F9F5F2;
}

.fill-btn:hover {
    background-color: #966D48;
}

.light-fill-btn {
    background-color: #F9F5F2;
    color: #CBB89B;
}

.light-fill-btn:hover {
    background-color: #F3EBE4;
}

.small-fill-btn {
    border-radius: 4px;
    display: flex;
    padding: 4px 0;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.dark-fill-btn {
    color: #FFFFFF;
    background-color: #5C492C;
    transition: all .3s;
}

.dark-fill-btn:hover {
    background-color: #4B391C;
}

.tab-btn {
    display: flex;
    padding: 20px 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    transition: all .3s;
    border: 1px solid #CBB89B;
    color: #CBB89B;
    cursor: pointer;
}

.tab-btn:hover {
    background-color: #B48D69;
    color: #FFFFFF;
}

.tab-btn:hover svg path {
    stroke: #FFFFFF;
}

.tab-btn svg path {
    stroke: #CBB89B;
}

.tab-btn.active {
    background-color: #B48D69;
    color: #fff;
}

.tab-btn.active svg path {
    stroke: #fff;
}

.edit-btn {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #F9F5F2;
    transition: all .3s;
}

.edit-btn:hover {
    background-color: #F3EBE4;
}

/* button 스타일 */

/* table 스타일 */
tr, td, th {
    padding: 12px 24px;
    box-sizing: border-box;
}

/* table 스타일 */

/* form, input, label, radio 스타일 */

input[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: 1px solid #CBB89B;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #fff;
    transition: border 0.2s ease-in-out;
}

input[type="radio"]:checked {
    border: 6px solid #B48D69;
}

input[type="radio"]:checked label {
    border: 6px solid #B48D69;
}

input[type="radio"]:hover {
    box-shadow: 0 0 0 6px #F9F5F2;
    cursor: pointer;
}

.form-style {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
}

.form-style * {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

textarea {
    display: flex;
    padding: 24px 20px;
    box-sizing: border-box;
    align-items: flex-start;
    flex: 1 0 0;
    line-height: 28px;
    color: #5C492C;
    background-color: #F9F5F2;
    border-radius: 12px;
    border: none;
}

textarea:focus {
    outline: none;
}

.form-style input[type=text], input[type=password], input[type=number] {
    display: flex;
    padding: 24px 20px;
    box-sizing: border-box;
    align-items: flex-start;
    flex: 1 0 0;
    line-height: 28px;
    color: #5C492C;
    background-color: #F9F5F2;
    border-radius: 12px;
}

input[type=text]:disabled {
    background-color: #eee;
}

.form-style input::placeholder {
    color: #CBB89B;
}

.form-style textarea::placeholder {
    color: #CBB89B;
}

label {
    color: #232323;
}

.input-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.label-wrap {
    display: flex;
    width: 120px;
    align-items: center;
    gap: 8px;
}

.guide {
    font-size: 14px;
    line-height: 26px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.require-val {
    color: #E04C47;
}

/* form, input, label 스타일 */

/* 폰트 스타일 */

.p-regular {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.p-medium {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.p-bold {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.p-small {
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.h-pre36 {
    font-family: Pretendard, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.h-pre24 {
    font-family: Pretendard, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px
}

.h-imcre24, .s-h-imcre24 {
    font-family: ImcreSoojin, serif;
    color: #452C07;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.s-h-imcre24 {
    text-align: center;
}

.label-bold {
    color: #B48D69;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

/* 폰트 스타일 */

/* 헤더 시작 */

#header {
    position: sticky;
    z-index: 99;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 120px;
    padding: 0 260px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
}

.logo {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gnb {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    flex-basis: auto;
    flex-shrink: 0;
}

.gnb .p-medium {
    color: #5C492C;
}

.user-menu .p-medium {
    color: #5C492C;
}

.gnb li {
    position: relative;
    line-height: 120px;
}

.gnb .depth2 {
    position: absolute;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    display: none;
    transition: all .3s;
    /*display: inline-flex;*/
}

.gnb .depth2 > li > a {
    display: flex;
    width: 160px;
    padding: 12px 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all .3s;
}

.gnb .depth2 > li > .p-medium {
    color: #CBB89B;
    transition: all .3s;
}

.gnb .depth2 > li > .p-medium:hover {
    background-color: #B48D69;
    color: #FFF;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-basis: auto;
    flex-shrink: 0;
    margin-left: 30px;
}

.user-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-left span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #CBB89B;
}

.user-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* 헤더 끝 */

/* 푸터 시작 */
#footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 60px 260px;
    align-items: center;
    background-color: #E9E2D9;
    justify-content: space-between;
}

.f-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.team {
    display: flex;
    width: 100%;
    padding: 24px 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    border-bottom: 1px solid #CBB89B;
    color: #5C492C;
}

.team-admin {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.team-admin a {
    background-color: #5C492C;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;
}

.team-email {
    display: flex;
    padding: 24px 0;
    box-sizing: border-box;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
}

.team-email-section {
    display: flex;
    gap: 36px;
}

.team-email-section li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5C492C;
}

.team-email-section li:first-child {
    width: 220px;
}

.f-right {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-left: 30px;
    flex-basis: auto;
    flex-shrink: 0;
}

.f-right li {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.f-depth2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.f-depth2 .p-medium {
    color: #CBB89B;
    transition: all .3s;
}

.f-depth2 .p-medium:hover {
    color: #452C07;
}

@media screen and (max-width: 1200px) {
    #footer {
        justify-content: center;
    }

    .f-left {
        align-items: center;
    }

    .f-right {
        display: none;
    }

    .team {
        align-items: center;
    }

    .team-admin {
        justify-content: center;
    }
}

/* 푸터 끝 */

/* 모달창 시작 */

.modal-overlay {
    position: fixed;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.modal-box {
    position: absolute;
    display: flex;
    width: 600px;
    padding: 80px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    border-radius: 24px;
    background-color: #ffffff;
    margin: 0 auto;
    left: 50%;
    transform: translate(160%, 22%);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.allergy-modal-box {
    position: absolute;
    display: flex;
    width: 1600px;
    padding: 80px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    border-radius: 24px;
    background-color: #ffffff;
    margin: 0 auto;
    left: 50%;
    top: -20%;
    transform: translate(160%, 22%);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.modal-box.active {
    transform: translate(-50%, 22%);
}

.mdl-text {
    color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.mdl-text span {
    color: #B48D69;
}

.mdl-info {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #CBB89B;
}

.mdl-info .p-regular {
    font-size: 14px;
}


/* 모달창 끝 */

/* 메인페이지 비쥬얼 시작*/
.visual {
    width: 1400px;
    margin: 0 auto 120px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.v-left {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.v-left select, input {
    border: none;
    background-color: transparent;
}

.v-left .h-pre36 {
    color: #452C07;
}

.v-left .p-regular {
    color: #CBB89B;
}

.v-left > form {
    width: 100%;
}

.main-search {
    position: relative;
    display: flex;
    padding: 12px 36px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 38px;
    background-color: #F9F5F2;
}

.main-search select {
    border: none;
    background-color: transparent;
    width: 100%;
    color: #CBB89B;
}

.select-wrap {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
}

.div-line {
    display: flex;
    width: 1px;
    height: 24px;
    background-color: #CBB89B;
}

.small-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-wrap {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
}

.search-wrap > .p-regular {
    color: #5C492C;
    width: 100%;
}

.search-wrap > .p-regular::placeholder {
    color: #CBB89B;
}

.search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.v-right {
    position: relative;
}

.v-right-view {
    width: 608px;
    overflow: hidden;
}

.v-right-warp {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: all .3s;
}

.v-r-box {
    display: flex;
    padding: 60px 24px 0 24px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #F9F5F2;
    border-radius: 20px;
}

.v-r-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.v-r-text .h-pre24 {
    text-align: center;
    color: #CBB89B;
}

.v-r-text p {
    color: #452C07;
    font-family: Pretendard, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
}

.v-r-text .p-regular {
    color: #555;
    text-align: center;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: -30px;
}

.next-btn {
    right: -30px;
}

/* 메인페이지 비쥬얼 끝*/

/* sub - 회원가입 페이지 시작 */

.form-style .input-section-right label {
    color: #CBB89B;
}

.form-at {
    color: #CBB89B;
}

.input-section-left {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 300px;
}

.input-section-left > input {
    width: 50%;
    display: flex;
    padding: 24px 20px;
    box-sizing: border-box;
    align-items: flex-start;
    flex: 1 0 0;
}

.input-section-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radio-wrap {
    display: flex;
    gap: 48px;
}

.radio-label-wrap {
    width: auto;
    display: flex;
    gap: 8px;
    align-items: center;
}

.score-input {
    width: 20%;
}

.btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.help {
    cursor: pointer;
}

.help-content {
    color: #CBB89B;
    font-size: 14px;
    line-height: 26px;
    display: none;
    padding: 8px 12px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 52px;
    left: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.10);
}

/* sub - 회원가입 페이지 끝 */

/* sub - 마이페이지 시작 */
.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url("/resources/img/profile/profile_default.png") no-repeat center;
    background-size: cover;
}

.small-fill-btn:nth-child(1) {
    border: 1px solid #CBB89B;
    color: #CBB89B;
}

.small-fill-btn:nth-child(2) {
    background-color: #CBB89B;
    color: #fff;
}

.member-info-wrap {
    display: flex;
    padding: 24px 36px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid #E9E2D9;
    border-bottom: 1px solid #E9E2D9;
}

.member-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.member-info-top {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #5C492C;
}

.grade-label {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background-color: #5C492C;
    color: #fff;
}

.member-info-bottom {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #555555;
}

.member-info-bottom span {
    width: 1px;
    height: 16px;
    background-color: #ddd;
}

.tab-btn-wrap {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.tab-btn-wrap a {
    gap: 8px;
    flex: 1 0 0;
}

.tab-btn-wrap .light-fill-btn:hover {
    background-color: #B48D69;
    color: #fff;
}

.tab-btn-wrap .light-fill-btn:hover svg path {
    stroke: #fff;
}

.tab-btn-wrap .fill-btn:hover {
    background-color: #5C492C;
}

.edit-btn-wrap {
    align-items: center;
}

#mypageReview {
    display: none;
}

/* sub - 마이페이지 끝 */

/* sub - 쿠키위키 */
.wiki-search {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
}

.wiki-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
}

/* sub - 쿠키위키 */

/* 리뷰게시판 */
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.board-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.list-count {
    color: #CBB89B;
}

.board-top button {
    display: flex;
    padding: 16px 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.board-list-wrap {
    display: flex;
    width: 960px;
    flex-direction: column;
    align-items: flex-start;
}

.list-box {
    display: flex;
    padding: 36px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #E9E2D9;
    transition: all .3s;
}

.list-box:hover {
    background-color: #FBFAF9;
}

.list-box:first-child {
    border-top: 1px solid #E9E2D9;
}

.list-box .left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.list-box .left .img-section {
    width: 80px;
    height: 80px;
}

.list-box h5 {
    font-size: 20px;
    line-height: 32px;
    color: #232323;
}

.list-box ul {
    color: #CBB89B;
}

.list-box li:first-child {
    color: #EFD800;
}

.list-box span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #E9E2D9;
}

.list-box .left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-box .left-bottom {
    display: flex;
    align-items: center;
    gap: 8px;
}

.reply-count {
    display: flex;
    width: 60px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #CBB89B;
    color: #5C492C;
    background-color: #fff;
}

.btn-Write {
    flex: none;
}

#btnSearch {
    align-self: inherit;
}

/* 리뷰게시판 */

/* sub - 로그인 */

.convenience-menu {
    justify-content: space-between;
}

.convenience-menu a {
    color: #5C492C;
}

.btn-wrap-row.social {
    gap: 24px;
}

.social-login {
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 12px;
}

.login-cookie {
    width: 24px;
}

.social-login.kakao {
    background-color: #FEE500;
    color: #232323;
    font-weight: 500;
    transition: all .3s;
}

.social-login.kakao:hover {
    background-color: #F1D900;
}

.social-login.naver {
    background-color: #1DC100;
    color: #FFFFFF;
    font-weight: 500;
    transition: all .3s;
}

.social-login.naver:hover {
    background-color: #1AAE00;
}

/* sub - 로그인 게시판 */

/* thumbnail */
.thumbnail {
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f9f5f2;
}

.detail-thumbnail {
    border-radius: 12px;
    width: 76%;
    height: 400px;
}

.search-thumbnail {
    border-radius: 8px;
    width: 100%;
    height: 240px;
}

/* thumnail */

/* 검색 알러지 모달 박스 */
.allergy-check-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

/* 검색 알러지 모달 박스 */
.allergy-check-btn {
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid #E9E2D9;
    background: #F9F5F2;
}

/* 인기 검색어 슬라이드 */
.popular-slide {
    border: 2px solid #B48D69;
    padding: 0 10px;
    height: 20px;
    overflow: hidden;
    background: #fff;
    width: 150px;
    height: 30px;
    line-height: 20px;
    font-weight: bold;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
}

.popular-slide ul,
.popular-slide li {
    margin: 3px;
    padding: 0;
    list-style: none;
}

.popular-slide li a {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #555;
    text-decoration: none;
}

.popular-slide li span {
    padding: 2px 5px;
    background: #B48D69;
    color: #fff;
    font-weight: bold;
    margin-right: 3px;
}