<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.multi.cookies.snack.dto.SnackDTO" alias="snackDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.snack.dto.NutritionalDTO" alias="nutritionalDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.snack.api.dto.DBApiDTO" alias="dbApiDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.snack.dto.SearchDTO" alias="searchDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.member.dto.LoginDTO" alias="loginDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.member.dto.MemberDTO" alias="memberDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.entertainment.dto.IdealBoardDTO" alias="idealBoardDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.entertainment.dto.IdealWorldCupDTO" alias="idealWorldCupDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.entertainment.vo.PageVO" alias="pageVO"></typeAlias>
        <typeAlias type="com.multi.cookies.board.dto.BoardDTO" alias="boardDTO"></typeAlias>
        <typeAlias type="com.multi.cookies.board.dto.ReplyDTO" alias="replyDTO"></typeAlias>

    </typeAliases>
    <mappers>
        <mapper resource="mapper/snackMapper.xml"/>
        <mapper resource="mapper/nutritionalMapper.xml"/>
        <mapper resource="mapper/dbApiMapper.xml"/>
        <mapper resource="mapper/idealBoardMapper.xml"/>
        <mapper resource="mapper/idealWorldCupMapper.xml"/>
        <mapper resource="mapper/loginMapper.xml"/>
        <mapper resource="mapper/findMapper.xml"/>
        <mapper resource="mapper/memberMapper.xml"/>
        <mapper resource="mapper/boardMapper.xml"/>
        <mapper resource="mapper/replyMapper.xml"/>
    </mappers>

</configuration>