<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminReviewReply">

    <select id="getAllReplies" resultType="AdminReviewReplyDTO">
        SELECT * FROM review_reply LIMIT #{start}, #{pageSize}
    </select>


    <select id="searchReplies" resultType="AdminReviewReplyDTO">
        SELECT * FROM review_reply WHERE content LIKE CONCAT('%', #{query}, '%')
    </select>


    <select id="getReplyDetail" resultType="AdminReviewReplyDTO">
        SELECT * FROM review_reply WHERE id = #{reply_id}
    </select>


    <update id="updateReply">
        UPDATE review_reply
        SET content = #{reply_content}
        WHERE id = #{reply_id}
    </update>


    <delete id="deleteReply">
        DELETE FROM review_reply WHERE id = #{reply_id}
    </delete>


    <select id="getTotalReplies" resultType="int">
        SELECT COUNT(*) FROM review_reply
    </select>

</mapper>
