<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminBoard">
    <select id="getAllBoards" resultType="adminBoardDTO">
        SELECT * FROM bbs LIMIT #{start}, #{pageSize}
    </select>

    <select id="searchBoards" resultType="adminBoardDTO">
        SELECT * FROM bbs
        WHERE ${type} LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="getTotalBoards" resultType="int">
        SELECT COUNT(*) FROM bbs
    </select>

    <select id="getBoardById" resultType="adminBoardDTO">
        SELECT * FROM bbs WHERE bbs_id = #{id}
    </select>

    <insert id="createBoard">
        INSERT INTO bbs (bbs_category, member_id, bbs_title, bbs_content) VALUES (#{bbs_category}, #{member_id}, #{bbs_title}, #{bbs_content})
    </insert>

    <update id="updateBoard">
        UPDATE bbs SET bbs_title = #{bbs_title}, bbs_content = #{bbs_content}, update_dt = NOW() WHERE bbs_id = #{bbs_id}
    </update>

    <delete id="deleteBoard">
        DELETE FROM bbs WHERE bbs_id = #{id}
    </delete>
</mapper>
