<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curation">

    <resultMap id="keywordMap" type="searchDTO" >
        <id column="snack_id" property="snack_id"/>
        <result column="snack_name" property="snack_name"/>
        <result column="snack_ingredients" property="snack_ingredients"/>
    </resultMap>

    <!-- 부분적 일치에 대한 검색을 하기 위해 RESULT MAP 사용 / 칼럼 중 모든 문자열에 대한 검색 결과를 얻기 위한 쿼리 -->
    <select id="search" resultType="searchDTO" resultMap="keywordMap">
        SELECT *
        FROM snack a
                 JOIN snack_nutritional b ON a.snack_id = b.snack_id
                 JOIN avg_score c ON a.snack_id = c.snack_id
        WHERE a.snack_name LIKE CONCAT('%', #{keyword}, '%')
           OR a.snack_ingredients LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY c.avg_score DESC  -- avg_score로 내림차순 정렬
            LIMIT 5;  -- 상위 5개 결과만 반환

    </select>

   <!--큐레이션 등록-->
    <insert id="checkedPersonality" parameterType="curationDTO">
        INSERT INTO curation (
            member_id,
            egg_allergy,
            milk_allergy,
            wheat_allergy,
            buckwheat_allergy,
            peanut_allergy,
            soy_allergy,
            pine_nut_allergy,
            almond_allergy,
            walnut_allergy,
            crab_allergy,
            shrimp_allergy,
            squid_allergy,
            mackerel_allergy,
            shellfish_allergy,
            peach_allergy,
            tomato_allergy,
            chicken_allergy,
            pork_allergy,
            beef_allergy,
            chocolate,
            strawberry,
            chili,
            honey
        ) VALUES (
                     #{member_id},
                     #{egg_allergy},
                     #{milk_allergy},
                     #{wheat_allergy},
                     #{buckwheat_allergy},
                     #{peanut_allergy},
                     #{soy_allergy},
                     #{pine_nut_allergy},
                     #{almond_allergy},
                     #{walnut_allergy},
                     #{crab_allergy},
                     #{shrimp_allergy},
                     #{squid_allergy},
                     #{mackerel_allergy},
                     #{shellfish_allergy},
                     #{peach_allergy},
                     #{tomato_allergy},
                     #{chicken_allergy},
                     #{pork_allergy},
                     #{beef_allergy},
                     #{chocolate},
                     #{strawberry},
                     #{chili},
                     #{honey}
                 )
    </insert>

    <!-- 큐레이션 내역 조회-->
    <select id="checkedHistory" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM curation WHERE member_id = #{member_id}
    </select>

    <!-- 큐레이션 내역 조회 후 업데이트-->
    <update id="updatePersonality" parameterType="curationDTO">
        UPDATE curation SET
            egg_allergy = #{egg_allergy},
            milk_allergy = #{milk_allergy},
            wheat_allergy = #{wheat_allergy},
            buckwheat_allergy = #{buckwheat_allergy},
            peanut_allergy = #{peanut_allergy},
            soy_allergy = #{soy_allergy},
            pine_nut_allergy = #{pine_nut_allergy},
            almond_allergy = #{almond_allergy},
            walnut_allergy = #{walnut_allergy},
            crab_allergy = #{crab_allergy},
            shrimp_allergy = #{shrimp_allergy},
            squid_allergy = #{squid_allergy},
            mackerel_allergy = #{mackerel_allergy},
            shellfish_allergy = #{shellfish_allergy},
            peach_allergy = #{peach_allergy},
            tomato_allergy = #{tomato_allergy},
            chicken_allergy = #{chicken_allergy},
            pork_allergy = #{pork_allergy},
            beef_allergy = #{beef_allergy},
            chocolate = #{chocolate},
            strawberry = #{strawberry},
            chili = #{chili},
            honey = #{honey}
        WHERE member_id = #{member_id}
    </update>

<!-- 저장된 알러지로 검색하기-->
        <select id="getAllergyColumnNames" resultType="string">
            SELECT column_name
            FROM information_schema.columns
            WHERE table_name = 'curation'
              AND column_name LIKE '%_allergy'
        </select>

    <!-- 각각의 칼럼값 체크 -->
    <select id="checkAllergyValue" parameterType="map" resultType="int">
        SELECT ${columnName}
        FROM curation
    </select>

    <!-- 저장된 기호를 검색하기-->
    <select id="curationFavorite" parameterType="int" resultType="curationDTO">
        SELECT * FROM curation WHERE member_id = #{member_id}
    </select>

    <!-- 부분적 일치에 대한 검색을 하기 위해 RESULT MAP 사용 / 칼럼 중 모든 문자열에 대한 검색 결과를 얻기 위한 쿼리 -->
    <select id="bestScoreRecommend" resultType="searchDTO" resultMap="keywordMap">
        SELECT *
        FROM snack a
                 JOIN snack_nutritional b ON a.snack_id = b.snack_id
                 JOIN avg_score c ON a.snack_id = c.snack_id
        ORDER BY c.avg_score DESC
    </select>

</mapper>