<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idealBoard">

    <select id="all" resultType="idealBoardDTO">
        select * from ideal_worldcup_bbs
    </select>

    <insert id="insert" parameterType="idealBoardDTO">
        insert into ideal_worldcup_bbs values (#{ideal_nickname}, #{ideal_pw}, #{ideal_content}, now())
    </insert>
</mapper>