<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewReply">

    <select id="replyList" parameterType="int" resultType="reviewReplyDTO">
        SELECT
            reply_id, review_id, member_id, reply_content, create_dt
        FROM review_reply
        WHERE review_id = #{review_id}
        order by reply_id desc
    </select>


    <insert id="replyWrite" parameterType="reviewReplyDTO">
        INSERT INTO review_reply(review_id, member_id, reply_content)
        VALUES(#{review_id}, #{member_id}, #{reply_content})
    </insert>


    <update id="replyModify" parameterType="reviewReplyDTO">
        UPDATE review_reply
        SET reply_content = #{reply_content},
            member_id = #{member_id}
        WHERE reply_id = #{reply_id}
          AND review_id = #{review_id}
    </update>


    <delete id="replyDelete" parameterType="reviewReplyDTO">
        DELETE FROM review_reply
        WHERE reply_id = #{reply_id}
          AND review_id = #{review_id}
    </delete>



    <!-- 단일 댓글 조회 -->
    <select id="replySelect" parameterType="reviewReplyDTO" resultType="reviewReplyDTO">
        select reply_id, review_id, member_id, reply_content, update_dt
        from review_reply
        where review_id = #{review_id}
          and reply_id = #{reply_id}
    </select>

</mapper>
