<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewReply">

    <!-- 댓글 목록 -->
    <select id="listReply" resultType="reviewReplyDTO">
        SELECT
            reply_id, review_id, member_id, reply_content, create_dt
        FROM review_reply
        WHERE review_id = #{review_id}
    </select>

    <!-- 댓글 작성 -->
    <insert id="writeReply" parameterType="reviewReplyDTO">
        INSERT INTO review_reply(reply_id, review_id, member_id, reply_content)
        VALUES(#{reply_id}, #{review_id}, #{member_id}, #{reply_content})
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateReply" parameterType="reviewReplyDTO">
        UPDATE review_reply
        SET reply_content = #{reply_content}
        WHERE reply_id = #{reply_id}
          AND review_id = #{review_id}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteReply" parameterType="reviewReplyDTO">
        DELETE FROM review_reply
        WHERE reply_id = #{reply_id}
          AND review_id = #{review_id}
    </delete>

</mapper>
