<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="snack">

        <resultMap id="keywordMap" type="searchDTO" >
            <id column="snack_id" property="snack_id"/>
            <result column="snack_name" property="snack_name"/>
            <result column="company" property="company"/>
            <result column="snack_ingredients" property="snack_ingredients"/>
            <result column="allergy" property="allergy"/>
        </resultMap>

        <select id="search" resultType="searchDTO" resultMap="keywordMap">
            SELECT *
            FROM snack a
                     JOIN snack_nutritional b ON a.snack_id = b.snack_id
                     JOIN avg_score c ON a.snack_id = c.snack_id
            WHERE a.snack_name
                LIKE CONCAT('%', #{keyword}, '%') OR a.company
                LIKE CONCAT('%', #{keyword}, '%') OR a.snack_ingredients
                LIKE CONCAT('%', #{keyword}, '%') OR b.allergy
                LIKE CONCAT('%', #{keyword}, '%')
        </select>

    <select id="getTotalResults" resultType="int">
        SELECT count(*)
        FROM snack a
                 JOIN snack_nutritional b ON a.snack_id = b.snack_id
                 JOIN avg_score c ON a.snack_id = c.snack_id
        WHERE a.snack_name
            LIKE CONCAT('%', #{keyword}, '%') OR a.company
            LIKE CONCAT('%', #{keyword}, '%') OR a.snack_ingredients
            LIKE CONCAT('%', #{keyword}, '%') OR b.allergy
            LIKE CONCAT('%', #{keyword}, '%')
    </select>
    
    <select id="snackInfo" resultType="searchDTO" resultMap="keywordMap">
        SELECT *
        FROM snack a
                 JOIN snack_nutritional b ON a.snack_id = b.snack_id
                 JOIN avg_score c ON a.snack_id = c.snack_id
        WHERE a.snack_id = #{snack_id}
    </select>

    
    </mapper>